<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1 col-md-2 col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-xs-center">
        <img src="/assets/img/svg/logos/LOGO-CESIA-WHITE.svg" class="img-fluid center-block footer__logo hidden-xs" alt="CESIA">
        <img src="/assets/img/svg/logos/logo-cesia-mobile.svg" class="img-fluid center-block footer__logo visible-xs" alt="CESIA">
      </div>

      <div class="col-lg-4 col-lg-offset-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 footer__text">
        Hermosillo, Sonora. Eduardo W. Villa No 315 / Gándara&nbsp;y&nbsp;Simon&nbsp;Bley&nbsp;Col.&nbsp;Olivares.
      </div>
    </div>
  </div>
</footer>
