/* * * * * *\
  SETTINGS
\* * * * * */

$red:   #800b0b;
$white: #e7e8e8;
$black: #212021;
$trans-red:    rgba(128, 11, 11, 0.95);
$trans-white:  rgba(231, 232, 232, 0.7);
$trans-black:  rgba(33, 32, 33, 0.7);


@font-face {
  font-family: DIN;
  font-weight: 300;
  src: url('/./../assets/font/DIN-Light.otf');
}

@font-face {
  font-family: DIN;
  font-weight: 400;
  src: url('/./../assets/font/DIN-Regular.otf');
}

@font-face {
  font-family: DIN;
  font-weight: 500;
  src: url('/./../assets/font/DIN-Medium.otf');
}

@font-face {
  font-family: DIN;
  font-weight: 700;
  src: url('/./../assets/font/DIN-Bold.otf');
}
