/* * * * * *\
  SETTINGS
\* * * * * */

$red:   #800b0b;
$white: #e7e8e8;
$black: #212021;

@font-face {
  font-family: DIN;
  font-weight: 300;
  src: url('/./../assets/font/DIN-Light.otf');
}

@font-face {
  font-family: DIN;
  font-weight: 400;
  src: url('/./../assets/font/DIN-Regular.otf');
}

@font-face {
  font-family: DIN;
  font-weight: 700;
  src: url('/./../assets/font/DIN-Bold.otf');
}
