/* * * * *\
T R U M P S
\* * * * */

.navbar {
  margin-bottom: 0;
}

.header {
  display:                table;
  width:                  100%;
  height:                 auto;
  text-align:             left;
  color:                  #fff;
  background-color:       #000;
}

.navbar-custom {
  background-color: $white;

  .collapse {
    height: 70px;
  }

  .navbar-header {
    height: 70px;

    button {
      height: 54px;
    }
  }

  a {
    color: $red;
    font-weight: 700;
  }

  .navbar-brand {
    padding: 13px;
    height: 70px;

    img {
      height: 100%;
    }
  }

  .nav.navbar-nav {
    li {
      padding-top: 10px;
      padding-bottom: 10px;
      height: 70px;

      a.active {
        color: $black;
      }
    }
  }

  .navbar-collapse {
    background-color: $white;
  }

  .navbar-collapse.in {
    overflow-y: visible;
    height: auto;
  }
}

#footer {
  background: $red;
  color: $white;
}

#map {
  height: 25em;
}
