/* * * * *\
T R U M P S
\* * * * */
section {
  background-position: center;
  display: table;
  width: 100%;
  position: relative;

  @media screen and (max-width: $screen-md-min) {
    height: 100%;
    min-height: 100%;
    overflow-y: inherit;
  }

  @media screen and (min-width: $screen-md-min) {
    height: 50%;
    min-height: 50%;
    overflow-y: inherit;
  }

  .vertical-center {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  p {
    font-size: 1.2em;

    @media screen and (min-width: $screen-lg-min) {
      font-size: 1.5em;
    }
  }

  .title {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;

    @media screen and (min-width: $screen-sm-min) {
      font-size: 2.5em;
    }
  }

  .icon {
    @media screen and (max-width: $screen-md-min) {
      margin-bottom: 1em;
    }
  }
}

.btn {
  border-radius: 0;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1.2em;

  &.btn-white {
    background-color: $white;
    color: $red;
  }

  &.btn-red {
    background-color: $red;
    color: $white;
  }

  &.btn-black {
    background-color: $black;
    color: $white;
  }
}

.carousel {
  position: relative;

  div {
    height: 100%;
  }

  h3 {
    font-size: 4em;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-custom {
  background-color: $white;

  .collapse {
    height: 70px;
  }

  .navbar-header {
    height: 70px;

    button {
      height: 54px;
    }
  }

  a {
    color: $red;
    font-size: 1.2em;
    font-weight: 700;
  }

  .navbar-brand {
    padding:  13px;
    height:   70px;

    img {
      height: 100%;
    }
  }

  .nav.navbar-nav {
    li {
      padding-top:    10px;
      padding-bottom: 10px;
      height:         70px;

      a.active {
        color: $black;
      }
    }
  }

  .navbar-collapse {
    background-color: $white;
  }

  .navbar-collapse.in {
    overflow-y: visible;
    height:     auto;
  }
}

.header {
  height:   100%;
  color:            $white;
  background-color: #000;
  position: relative;

  .title {
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 0;

    @media screen and (min-width: $screen-sm-min) {
      font-size: 3em;
    }

    @media screen and (min-width: $screen-lg-min) {
      font-size: 5em;
    }
  }

  .subtitle {
    font-style: italic;

    @media screen and (min-width: $screen-sm-min) {
      font-size: 1.7em;
    }

    @media screen and (min-width: $screen-lg-min) {
      font-size: 2em;
    }
  }
}

.pre-footer {
  .title {
    color: $red;
    font-size: 3.2em;
  }

  .btn {
    font-size: 2em;
    padding: .5em;

    @media screen and (max-width: $screen-sm-min) {
      font-size: 1.5em;
    }
  }
}

footer {
  background: $red;
  color:      $white;
  padding-top:    2em;
  padding-bottom: 2em;

  .footer__logo {
    max-width: 100%;
    max-height: 10em;
  }

  .footer__text {
    font-size: 1.2em;
    text-align: right;
  }

  @media screen and (min-width: $screen-lg-min) {
    .footer__text {
      font-size: 1.3em;
    }

    .footer__logo {
      max-width: 70%;
    }
  }

  @media screen and (max-width: $screen-sm-min) {
    .footer__text {
      padding-top: 2em;
      text-align: center;
    }

    .footer__logo {
      max-width: 80%;
    }
  }
}

#index {
  @include background-filter($trans-black, '/assets/img/bg/index.png');
}

#nosotros {
  @include background-filter($trans-black, '/assets/img/bg/nosotros.jpg');
}

#map {
  height: 25em;
}

#quienes-somos {
  @include background-filter($trans-red, '/assets/img/bg/quienes-somos.jpg');
  color: $white;

  &.white {
    @include background-filter($trans-white, '/assets/img/bg/quienes-somos.jpg');
    color: $black;
  }

  img {
    max-width: 100%;

    @media screen and (max-width: $screen-sm-min) {
      max-width: 20%;
    }
  }
}

#servicios {
  background-color: $black;
  color: $white;

  #peritaje-topografico {
    @include background-filter($trans-black, '/assets/img/sliders/servicios/peritaje-topografico.jpg');
  }

  #estudios-geotecnicos {
    @include background-filter($trans-black, '/assets/img/sliders/servicios/estudios-geotecnicos.png');
  }

  #estudios-geotecnicos-2 {
    @include background-filter($trans-black, '/assets/img/sliders/servicios/estudios-geotecnicos-2.png')
  }
}

#nuestra-filosofia {
  @include background-filter($trans-white, '/assets/img/bg/nuestra-filosofia.jpg');
  color: $red;
}

#clientes {
  background-color: $black;
  color: $white;
  padding-top: 2em;
  padding-bottom: 2em;

  .logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.8em 5em;

    img {
      @media screen and (max-width: $screen-sm-min) {
        width: 40vw;
      }

      @media screen and (min-width: $screen-sm-min) {
        width: 15vw;
      }

      @media screen and (min-width: $screen-lg-min) {
        width: 10vw;
      }
    }
  }
}

#contactanos {
  @include background-filter($trans-white, '/assets/img/bg/contactanos.jpg');
}

#ayudarte {
  @include background-filter($trans-white, '/assets/img/bg/ayudarte.jpg');
}

#valores {
  color: $white;
  background-color: $red;

  #mision {
    @include background-filter($trans-red, '/assets/img/sliders/valores/mision.jpg')
  }

  #vision {
    @include background-filter($trans-black, '/assets/img/sliders/valores/vision.jpg')
  }

  #filosofia {
    @include background-filter($trans-red, '/assets/img/sliders/valores/filosofia.jpg')
  }
}
