/* * * * *\
T R U M P S
\* * * * */

.navbar {
  margin-bottom: 0;
}

.header {
  display:  table;
  width:    100%;
  height:   100%;
  text-align: left;
  color:            #fff;
  background-color: #000;
  content:  ' ';
}

.navbar-custom {
  background-color: $white;

  .collapse {
    height: 70px;
  }

  .navbar-header {
    height: 70px;

    button {
      height: 54px;
    }
  }

  a {
    color: $red;
    font-weight: 700;
  }

  .navbar-brand {
    padding:  13px;
    height:   70px;

    img {
      height: 100%;
    }
  }

  .nav.navbar-nav {
    li {
      padding-top:    10px;
      padding-bottom: 10px;
      height:         70px;

      a.active {
        color: $black;
      }
    }
  }

  .navbar-collapse {
    background-color: $white;
  }

  .navbar-collapse.in {
    overflow-y: visible;
    height:     auto;
  }
}

#index {

  background-image: url("/assets/img/bg/index.png");

  &:before {
    content:    ' ';
    display:    block;
    background: #000;
    position:   absolute;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
    opacity:    0.55;
  }
}

#footer {
  background: $red;
  color:      $white;
  padding-top:    3.5em;
  padding-bottom: 3.5em;

  .footer__logo {
    max-width: 100%;
  }

  .footer__text {
    text-align: right;
  }

  @media screen and (max-width: 769px) {
    .footer__text {
      padding-top: 2em;
      text-align: center;
    }

    .footer__logo {
      max-width: 80%;
    }
  }
}

#map {
  height: 25em;
}
