$red: #800b0b;
$white: #e7e8e8;
$black: #212021;

body {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.header {
  display: table;
  width: 100%;
  height: auto;
  text-align: left;
  color: #fff;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar-custom {
  background-color: $white;
  height: 70px;

  .navbar-header {
    height: 70px;

    button {
      height: 54px;
    }
  }

  a {
    color: $red;
    font-weight: 700;
  }

  .navbar-brand {
    padding: 13px;
    height: 70px;

    img {
      height: 100%;
    }
  }

  .nav.navbar-nav {
    height: 70px;

    li {
      padding-top: 10px;
      padding-bottom: 10px;
      height: 70px;

      a.active {
        color: $black;
      }
    }
  }

  .navbar-collapse.in {
    overflow-y: visible;
  }
}
